<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>BulletTest</key>
		<dict>
			<key>testGhostPerformanceTest()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.078838</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceExample()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>4.131e-07</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
		</dict>
		<key>EnemyTest</key>
		<dict>
			<key>testBossPerformanceTest()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00022888</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testEnemyPerformanceTest()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00021966</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testGhostPerformanceTest()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00022539</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testHurt()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00082208</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testMinionPerformanceTest()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00026592</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testMovePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00055965</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testMoveToNextBlock()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.2083e-06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceExample()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>6.527e-07</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testSoldierPerformanceTest()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00024182</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testUpdateSpriteAtrributes()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.8872e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
		</dict>
		<key>EntityTest</key>
		<dict>
			<key>testPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>5.457e-07</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceDidMoveToNextBlock()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.3413e-06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceDied()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00031152</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceExample()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>6.267e-07</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceGetSideForLighting()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.1968e-06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceHurtEffects()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00018295</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformancePlaySoundEffect()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00073907</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceSetAngle()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.4995e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceSetEntityTypeAttributes()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>4.086e-06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
		</dict>
		<key>GameSceneTest</key>
		<dict>
			<key>testPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>4.856e-07</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceCreatePlayer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00024503</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceCreatePlayerBlock()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0098846</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceCreateSwipeRecognizers()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>8.8759e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceDebugDrawPlayableArea()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>5.9492e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceExample()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>4.399e-07</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceGameOver()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.6782e-06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceGameSceneInitializes()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00021542</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceLoadDefaults()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00045161</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceMoveBullets()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.2456e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceMoveEnemies()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.1342e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceParticleCreator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>5.2261e-06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceRandomEnemy()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000592</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceSetDebugLabels()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00086066</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceSetLabels()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0021115</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceSetPhysics()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.7025e-06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceSpawnEnemy()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00056317</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceUpdate()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>8.5053e-06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
		</dict>
		<key>PlayerTest</key>
		<dict>
			<key>testGhostPerformanceTest()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00022974</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceExample()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>4.29e-07</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Feb 1, 2018 at 3:28:58 AM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
